.top-menu-w {
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #e0e0e0 100%);			
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e0e0e0));	
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e0e0e0 100%);		
	background: -o-linear-gradient(top,  #f8f8f8 0%,#e0e0e0 100%);	
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#e0e0e0 100%);	
	background: linear-gradient(to bottom,  #f8f8f8 0%,#e0e0e0 100%);	
	-pie-background: linear-gradient(to bottom,  #f8f8f8 0%,#e0e0e0 100%); 
}

.top-menu>li:hover >a{
	background: -moz-linear-gradient(top,  #ebebeb 0%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#f8f8f8));
	background: -webkit-linear-gradient(top,  #ebebeb 0%,#f8f8f8 100%);
	background: -o-linear-gradient(top,  #ebebeb 0%,#f8f8f8 100%);
	background: -ms-linear-gradient(top,  #ebebeb 0%,#f8f8f8 100%);
	background: linear-gradient(to bottom,  #ebebeb 0%,#f8f8f8 100%);
	-pie-background: linear-gradient(to bottom,  #ebebeb 0%,#f8f8f8 100%);
}

.product-tab-caption {
	background: -moz-linear-gradient(top, #f3f3f3 0%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top, #f3f3f3 0%,#f6f6f6 100%);
	background: -o-linear-gradient(top, #f3f3f3 0%,#f6f6f6 100%);
	background: -ms-linear-gradient(top, #f3f3f3 0%,#f6f6f6 100%);
	background: linear-gradient(to bottom, #f3f3f3 0%,#f6f6f6 100%);
	-pie-background: linear-gradient(to bottom, #f3f3f3 0%,#f6f6f6 100%);
}

.button-orange {
	background: -moz-linear-gradient(top, #ffc61d 0%, #ffc61d 100%, #f0a900 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc61d), color-stop(100%,#ffc61d), color-stop(100%,#f0a900));
	background: -webkit-linear-gradient(top, #ffc61d 0%,#ffc61d 100%,#f0a900 100%);
	background: -o-linear-gradient(top, #ffc61d 0%,#ffc61d 100%,#f0a900 100%);
	background: -ms-linear-gradient(top, #ffc61d 0%,#ffc61d 100%,#f0a900 100%);
	background: linear-gradient(to bottom, #ffc61d 0%,#ffc61d 100%,#f0a900 100%);
	-pie-background: linear-gradient(to bottom, #ffc61d 0%,#ffc61d 100%,#f0a900 100%);
}