* {
  box-sizing: border-box;
}

.clear-fix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

br {
  content: "";
  &:after {
    content: "\00a0" !important;
  }
}

body {
  border-top: 3px solid #f8b910;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-family: 'OpenSans', sans-serif;
  @include breakpoint(extra-large) {
    width: 1349px;
  }

  @include breakpoint(till-extra-large) {
    width: 100%;
  }
}

h1, h3 {
  font-size: 20px;
  line-height: 22px;
  padding: 10px 0;
  margin: 20px 0;
  font-weight: bold;
}

h2 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 12px;
  padding: 10px 15px;
}

a {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

input {
  border: 1px solid #ddd;
  padding: 5px 10px;
  &:focus {
    outline-color: $color-border-hover;
  }
}

p {
  color: #646464;
  strong {
    font-weight: bold;
  }

  a {
    color: $color-border-hover;
  }
}

img {
  max-width: 100%;
  height: auto;
  &:focus, &:active {
    outline: none;
  }
}

.container {
  width: 1010px;
  margin: auto;
  padding: 0 15px;
  @include breakpoint (extra-small) {
    width: 100%;
    padding: 0 15px;
  }
}