.breadcrumbs {
  @extend .flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  li {
    a {
      display: block;
      color: #646464;
      font-size: 13px;
      line-height: 20px;
      &.active {
        color: $color-border-hover;
      }
    }

    &:not(:first-child) {
      position: relative;
      margin-left: 26px;
      &:before {
        content: '\f054';
        position: absolute;
        font-family: "FontAwesome";
        font-size: 10px;
        top: 50%;
        left: -13px;
        transform: translateX(-50%) translateY(-50%);
        color: $color-border-hover;
      }
    }
  }
}