
.fancybox-wrapper {
  position: absolute;
  left: 0;
  top: -10000px;
  .fancybox-skin {
    /* хром, сафари */
    &::-webkit-scrollbar {
      width: 0;
    }
    /* ie 10+ */
    -ms-overflow-style: none;
    /* фф (свойство больше не работает, других способов тоже нет)*/
    overflow: -moz-scrollbars-none;
  }
}