.brand-list {
  @extend .flex;
  padding-bottom: 30px;
  li {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    &:hover {
      border-color: $color-border-hover;
    }
  }
}